apiVersion: v1
kind: Secret
metadata:
  name: task-manager-secret
  namespace: task-manager
type: Opaque
stringData:                  # "stringData" aceita texto puro; o Kubernetes
  DATABASE_USER: <DB_USER>  # converte para base64 automaticamente ao salvar
  DATABASE_PASSWORD: <DB_PASSWORD>
  POSTGRES_USER: <DB_USER>
  POSTGRES_PASSWORD: <DB_PASSWORD>